html,
body,
body #root {
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
}
